*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


 body{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

/* index */
.contenido__p{
    text-align: center;
    color: aliceblue;
}

.contenido__p .logo__navi{
    width: 20%;
    height: 20%;
}

/* Nosotros */
.contenido__h{
    text-align: center;
}


.contenido__h h1{
    color: orange;
}
.contenido__h p{
    color: aliceblue;
}

/* Novedades */
h2{
    padding: 20px;
    color: aliceblue;
}
.card__container{
    padding: 20px;
    display: flex;
    justify-content: center;
}
.card{
    width: 18rem;
    margin: 5px;
}

/* Contactos */

.formulario{
    color: aliceblue;
}



/* Responsive */


@media (max-width: 768px){
    .contenido__p .roster__navi{
        width: 100%;
        height: 100%;
    }


    /* nosotros */
    .contenido__h img{
        width: 100%;
        height: 100%;
    }

}

@media (max-width: 420px){
    /* novedades */
    .card__container{
        flex-wrap: wrap;
    }

    
}